<h1>Login</h1>

<form action="/sessions" method="POST">
	<% if flash[:login_errors] %>
    	<div class="alert alert-danger" role="alert"><%= flash[:login_errors] %></div>
    <% end %>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="email" name="login[username]" placeholder="email">
	<input type="password" name="login[password_digest]" placeholder="password">
	<input type="submit" name="submit" class="submit">
</form>