<div class="container col-md-12 col-lg-4 border shadow-sm p-3 bg-light rounded m-0 mt-2 mb-2 mx-auto">
	<p>
		<b>Name: </b> <%= link_to product.name, product %>
	</p>
	<% if product.image.present? %>
		<p>
			<%= image_tag product.image.url, :size => "300x300" %>
		</p>
	<% end %>
	<p>		
		<b>Price: </b> <%= product.price %> <br>
		<b>Available: </b> <%= product.quantity %>
	</p>
	
</div>